:root{
    /* Cores */
    --cor-principal:#4d4d4d;
    --cor-fundo-buscador:#4d4d4d;
    --cor-fundo-rodape:#4d4d4d;
    --cor-fundo-slide:#cccccc;
    --cor-fundo-conteudo:#d8d8d8;
    --cor-fundo-card:#ececec;
    --cor-fundo-tarja-card:#999999;
    --cor-fundo-etiquestas:#4d4d4d;
    --cor-fundo-icones-das-estiquestas:#4d4d4d;
    --cor-fundo-trabalho-aberto:#333333;
    --cor-titulo-trabalho-aberto:#e6e6e6;
    --cor-titulo-trabalho-aberto-recomendados:#1a1a1a;
    /* Fontes */
    /* Tamanhos */
    /* Espaçamentos */
}


