
/* header estrutura geral */
#header {
    z-index: 999;
    width: 100%;
    position: fixed;
    color: var(--header-text);
    height: var(--header-height);
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid var(--color-border-strong); */
    
}

/* container interno */
#header .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.container{
    height: 40px;
    justify-content: center;
}
