#apresentacao {
    background-color: var(--fundo-apresentacao);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#navegacao {
    height: 56px;
    width: var(--largura-maxima);
    position: fixed;
    top: 16px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



