/* --logoBotao */

#logoNavegacao {
    width: 100px;
    height: 100%;
    background-color: var(--cor-principal);
    border: 2px solid white;
    position: relative;
    cursor: pointer;
}

#logoNavegacao::before,
#logoNavegacao::after {
    content: "";
    position: absolute;
    width: 110px;
    /* maior que a div para atravessar ela inteira */
    height: 2px;
    /* espessura da linha */
    background: white;
    top: 50%;
    left: -6px;
    /* ajusta a posição do início da linha */

}

#logoNavegacao::before {
    transform: rotate(332deg);

}

#logoNavegacao::after {
    transform: rotate(-332deg);

}


#botaoBuscar{
    border-radius: 50%;
    position: relative;
    height: 42px;
    width: 42px;
    z-index: 1;
    cursor: pointer;
    border: none;
}

.interacao{
    width:  88px;
    height: 36px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.botaoGostei,
.botaoFavorito{
    width: 36px;
    height: 100%;
    border-radius: 36px;
    border: none;
    background-color: var(--cor-principal);
    cursor: pointer;
}