#gradeDeCardsOutrosTrabalhos,
#gradeDeCards{
    /* background-color: white; */
    width: var(--largura-maxima);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin: 100px 0px 100px 0px ;
}
#gradeDeCardsOutrosTrabalhos{
    justify-content: space-between;
    height: auto;
    margin-bottom: 270px;
}
.card{
    background-color: var(--fundo-miniatura);
    width: 350px;
    height: 260px;
    border: 2px solid gray;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
 
}
.card::before,
.card::after {
    content: "";
    position: absolute;
    width: 425px;
    /* maior que a div para atravessar ela inteira */
    height: 2px;
    /* espessura da linha */
    background: gray;
    top: 50%;
    left: -40px;
    /* ajusta a posição do início da linha */

}

.card::before {
    transform: rotate(323deg);

}

.card::after {
    transform: rotate(-323deg);

}
.classificacao{
    display: flex;
    width: 350px;
    height: 137px;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-secundaria);
}
.etiquetas{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 300px;
}
.buttonsCards{
    width: 100%;
}
.buttonsCards>button{
    width: 21px;
    height: 21px;
    border-radius: 21px;
    border: none;
    cursor: pointer;
}
.etiqueta{
    cursor: pointer;
    background-color: var(--cor-da-etiqueta);
    color: var(--cor-secundaria);
    height: 20px;
    padding: 0 10px 0 10px;

}