
#formularioDeBusca{
    /* background-color: var(--cor-principal); */
    height: 100%;
    width: 510px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#campoDeBusca{
    position: absolute;
    left: 10px;
    height: 100%;
    width: 100%;
    border-radius: 56px;
    border: none;
}
