#menuNavegacao {
    /* background-color: var(--cor-principal); */
    height: 100%;
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menuBotao{
    list-style-image: url(../../../img/marcadorDeLista.png);
}
.menuBotao>a{
    cursor: pointer;
}



#slidersNavegacao {
    position: relative;
    bottom: 40px;
    height: 20px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.botaoDeNavegacaoDosSliders{
    list-style-type: disc;
    color: var(--cor-principal);
    width: 10px;
    height: 10px;
    font-size: 20pt;
    cursor: pointer;
}