#miniaturas{
    /* background-color: white; */
    width: var(--largura-maxima);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
.miniatura{
    background-color: var(--fundo-miniatura);
    width: 350px;
    height: 260px;
    border: 1px solid gray;
}