#sliders {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#listaDeImagens {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#listaDeImagens>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

