#sliders {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#listaDeImagens {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#listaDeImagens>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



#slideTrabalhoAberto {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 21pt;
    text-align: center;
    width: 1200px;
}
.imagemPecaTrabalhoAberto{
    width: 1200px;
    height: 700px;
    margin: 40px 0 150px 0;
}
#gradeMiniaturasTrabalhoAberto{
    width: 1200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin: 60px 0 60px 0;
}
.miniaturaTrabalhoAberto{
    width: 280px;
    height: 200px;
    background-color: var(--fundo-miniatura);
    cursor: pointer;
}