.tituloTrabalhoAberto,.tituloParaOutrasPecas,.tituloOutrosTrabalhos{
    font-size: 21pt;
    width: 800px;
    color: var(--cor-texto-trabalho-aberto);
}
.tituloParaOutrasPecas{
    text-align: left;
    align-self: flex-start;
}
.tituloOutrosTrabalhos{
    margin: 233px 0 145px 0;
    text-align: center;
}