.tituloTrabalhoAberto,.tituloParaOutrasPecas{
    font-size: 21pt;
    width: 800px;
    color: var(--cor-texto-trabalho-aberto);
}
.tituloParaOutrasPecas{
    text-align: left;
    align-self: flex-start;
}