/* header estrutura geral */
#header {
    background: var(--header-bg);
    color: var(--header-text);
    height: var(--header-height);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-border-strong);
}

/* container interno */
#header .container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
/* logo */
#header .logo{
    height: 38px;
    width: auto;
}