#menuNavegacao,
#logoNavegacao,
#campoDeBusca,
#botaoBuscar {
    height: 46px;
}

#campoDeBusca,
#logoNavegacao {
    background-color: var(--cor-principal);
}
.menuBotao {
    color: var(--cor-principal);
}

#navegacao {
    height: 56px;
}

#logoNavegacao {
    width: 100px;
}

#menuNavegacao {
    width: 350px;
    margin: 0 100px 0 100px;
}

#formularioDeBusca {
    position: relative;
}

#campoDeBusca {
    width: 500px;
}

#botaoBuscar {
    width: 46px;
    position: absolute;
    right: 0px;
}