#sliders{
    overflow: hidden;
}
#slidersNavegacao{
    position: relative;
    bottom: 20%;
}
.botaoDeNavegacaoDosSliders{
    font-size: 25px;
    width: 10px;
    height: 10px;
    color: red ;
    margin-left: 20px;
    background-color: rgb(165, 165, 165);
    border-radius: 50%;
}