#apresentacao {
    width: 100vw;
    height: 100vh;
    background-color: #cccccc;
}

.navegacao {
    background-color: #a9a9a9;
    width: 100%;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
}

#logoMenu {
    width: 99px;
    height: 48px;
    cursor: pointer;
}

#formularioBuscar {
    position: relative;
}

#botaoBuscar {
    position: absolute;
    right: 0;
    top: 0; /* Aligns the top edge of the button with the top edge of the parent */
    height: 48px;
    width: 50px; /* Assuming a width for the button to create overlap */
    z-index: 1;
}

.campoDeBusca {
    width: 510px;
    height: 48px;
}

.navegacao ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navegacao ul li {
    margin: 0 15px;
}