:root {
    --nav-text-display: flex;
    --nav-button-display: block;
    --menu-fundo-expandido-display: block;
}


/* navigation */
.nav-menu {
    position: relative;
    transition: width 0.9s ease, padding 0.9s ease;
    display: flex;
    align-items: center;
    overflow: visible;
}

.nav-menu ul {
    display: var(--nav-text-display);
    gap: 1rem;
    list-style: none;

}

.nav-menu .nav-item a {
    color: var(--nav-item-color);
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xs);
    transition: color .2s ease;
}

.nav-menu .nav-item a:hover {
    color: var(--nav-item-hover);
}

.mobile-background {
    position: fixed;
    /* top: -100px; */
    z-index: 3;
    background-color: aliceblue;
    height: 0vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tag-container{
    height: 80%;
    width: 90%;
}
