.tag-container {
    display: flex;
    /* flex-wrap: wrap; */
    color: var(--gray-50);
    font-weight: 600;
    /* height: 80%; */
    width: 90%;
    margin-top: 20%;
}

.ilustracao {
    background-color: var(--color-tag-ilustracao);
}

.app-sites {
    background-color: var(--color-tag-appSites);
}

.designer-grafico {
    background-color: var(--color-tag-designergrafico);
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    height: 30px;
    padding: 5px 20px 6px 20px;
    white-space: nowrap;
}