#slides {
    width: 100%;
    height: 100vh;
}

.slide-01 >img{
      transition: width 0.4s ease;
}

.slide-01 {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide-01-xicara,
.slide-01-tampa-caneta,
.slide-01-mouse-pad,
.slide-01-mouse,
.slide-01-fundo,
.slide-01-caneta,
.slide-01 {
    position: absolute;
    z-index: 2;

}



.slide-01-xicara,
.slide-01-tampa-caneta,
.slide-01-mouse-pad,
.slide-01-mouse,
.slide-01-caneta {
    transform: translate(-50%, -50%);
    height: auto;
}
